body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("../img/font.png");
  }
  
  h2{
    text-align: center;
    color: rgb(255, 255, 255);
  }
  
  .divinput{
    margin: 10px;
  
  }
  
  #divform{
    margin: auto;
    margin-top: 5%;
    padding: 2%;
    background-color:rgba(12, 12, 12, 0.2);
    border-radius: 20px;
    width: fit-content;
    
    
   
  }
  #button{
        display: inline-block;
              background-color: rgb(11, 171, 211);
              border-radius: 10px;
              border: 4px double rgb(255, 255, 255);
              color: rgb(255, 255, 255);
              text-align: center;
              font-size: 24px;
              font-weight: 600;
              padding: 10px;
              width: 220px;
              transition: all 0.5s;
              cursor: pointer;
              margin: 5px;    
    
  }
  #button:hover
  {
    background-color:rgb(145, 182, 255);
  }
  #button:active{
    background-color: darkgoldenrod;
  }
  
  #imglogo{
    margin-top: 50px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #submit{
    text-align: center;
  }
  
  #pinscrire, #pconnexion{
    text-align: center;
  }
  
  h1{
    text-align: center;
    color: azure;
    font-family: cursive;
  }
  
  .textinput{
  
    border-radius: 30px;
    height: 50px;
    width: 300px;
    text-indent: 10px;
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .popup{
    color:red;
    text-align: center;
}


.bout a {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  text-decoration:none ;
  color : black;
  border: 1px solid black;
  
  font-size: 18px;
  transition: 0.3s;
  box-shadow: 0 7px rgb(182, 214, 243);
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  line-height: 2;
  margin-left: 44%;
  margin-right: 44%;
}

.bout a:hover{
  background-color: #212529;
  color: white;
}

.bout a:active{
  background-color: rgb(1, 99, 177);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}