


/*----------NAV----------*/

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
}



.container {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("../img/bulle.jpg");
    background-size:  cover;
    background-position: center;


}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0%;
    background-color: rgba(109, 130, 175, 0.5); ;  


}

nav .logo {
    width: 130px;
    cursor: pointer;
    margin-left: 30px;

}



nav .compte {
    position: relative;
    width: 55px;
    cursor: pointer;
    margin-right: 20px;
    text-decoration: none;
    
}

nav .compte:hover {
    transform: rotateY(150deg);
    transition: 1.2s;

}



nav ul{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 40px;
    text-align: right;
    list-style-type: none;

}

ul li{
    margin-right: 10px;

}

ul li a{
    position: relative;
    padding: 20px 40px;
    text-decoration: none;
    color: black;
    font-size: 23px;
}

ul li  a::after {
    content: '';
    background: rgb(1, 99, 177);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    transform: translate(-50%, -5px);
    transition: 0.3s;
}

ul li a:hover::after {
    width: 38%;

}

ul li a:active::after {
    transform: translate(-38%, -14px);
    transition: 0.3s;
    width: 57%;

}


.site-container {
    position: absolute;
    bottom: 15%;
    color: black;
    padding: 0 4%;
}

.site-container p{
    font-size: 50px;
    font-weight: bold;
}

.site-container h1 {
    font-size: 120px;
    line-height: 120px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px black;
    background-image:url("../img/pattern.jpg") ;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: animate 10s linear 0.5s infinite alternate;
}

@keyframes animate {
    100% {
        background-position: -500px 0;
    }
    
}

.site-container h4{
    font-size: 40px;
    font-weight: 500;
}

.site-container .row{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 40px;
}

.row a {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    text-decoration:none ;
    color : black;
    border: 1px solid black;
    margin-right: 40px;
    font-size: 18px;
    transition: 0.3s;
    box-shadow: 0 7px #999;
    border-radius: 15px;

}

.row a:hover{
    background-color: rgb(1, 99, 177);
    color: white;
}

.row a:active{
    background-color: rgb(1, 99, 177);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.row a span {
    font-size: 15px;
    font-weight: bold;
    line-height: 2;
    margin-left: 10px;
}

.row span{
    font-size: 18px;
}

/*----------NAV-END----------*/






/*----------FOOTER----------*/

footer {
    background-color: #2c4e70;
    color: #fff;
    font-size: 15px;
    padding-top: 20px;
}


#copyright{
    display: flex;
    justify-content: center;
    border-top: #fff solid 1px;
    padding: 10px;
}

#needhelptext{
    color: white;
    font-size: 15px;
    font-weight: 100;
}
#needhelplink{
    color: #fff;
    font-size: 17px;

}
#needhelplink:hover{
    color: goldenrod;
}
#needhelplink:active{
    color: red;
}

#divhelp{
    
    margin-left: 10px;
}


#policonf{
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    color: #fff;
}
#policonf:hover{
    color: goldenrod;
}
#policonf:active{
    color: red;
}

#langue{

    margin-left: auto;
    margin-right: 10px;
}

#divtopfooter{
    display: flex;
    padding-bottom: 20px; 
}

/*----------FOOTER-END----------*/