/*----------TABLE----------*/

#divListCar
{
    margin-top: 5%;
    margin-bottom: 5%;
}



#divform{
    margin: auto;
    margin-top: 2%;
    border : 3px solid rgb(1, 99, 177);
    border-radius: 20px / 10px;
    width: 600px;
    padding: 2%;
  
    
  }


.infos {
    margin-right: -85px;
    font-size: 18px;
    font-weight:bold;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#lignehead{
    background-color: #212529;
    
    color: white;
}



#listcar{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

#listcar > td,th,tr{
   
    padding: 20px;
    height: 20px;
}

#addcar{
    margin-left: auto;
    margin-right: auto;
}

.bout a {
    text-align: center;
    padding: 5px 20px;
    text-decoration:none ;
    color : black;
    border: 1px solid black;
    
    font-size: 18px;
    transition: 0.3s;
    box-shadow: 0 7px rgb(182, 214, 243);
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    line-height: 2;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

}

.bout a:hover{
    background-color: #212529;
    color: white;
}

.bout a:active{
    background-color: rgb(1, 99, 177);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.imgOutils{

    position: relative;
    width: 40px;
    cursor: pointer;
    margin-right: 20px;
    text-decoration: none;
}

.imgOutils:hover{

    width: 45px;
}

/*----------TABLE-END----------*/



/*----------FORM----------*/

.form
{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: fit-content;
    background:#e6e6e68f;
    border-radius:8px;
    margin-bottom: 6%;
    margin-top: 2%;
    padding:60px 40px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    
}

#retour 
{
    margin-left: auto;
    margin-right: auto;
}



h2
{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#78788c;
    border-bottom:3px solid #78788c;
}


label
{
    font-family:'Montserrat',sans-serif;
    font-size: large;
}

input
{
    
    width:100%;
    padding: 15px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border: 0;
    font-family:'Montserrat',sans-serif;
    font-size: 15px;
    margin-top : -2px;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}

input:hover
{
    background : #c7c5c5;
    color : #000000 ; 
}

p:before
{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a
}

.button
{
    float:right;
    padding:8px 12px;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    color:#5a5a6e;
    margin-top: 10px;
    cursor:pointer;
    transition:all .3s
}

.button:hover
{
    
    background-color: #808080;
    color:rgb(0, 0, 0);
    
}

span
{
    margin:0 5px 0 15px;
}


/*----------FORM-END----------*/

/*----------POPUP----------*/

#popup{
    color:red;
    text-align: center;
}

/*----------POPUP-END----------*/

/*----------TableBoutonsAlignés----------*/

.multipleButtonTable{
    border: transparent;
    margin-left: auto;
    margin-right: auto;
}

.multipleButtonTable td{
    padding: 5px;
    width: fit-content;
    border: none;
}
.multipleButtonTable td:hover{
    background-color: transparent;
}

/*----------TableBoutonsAlignés-END----------*/


/*----------TABLECOMPTE----------*/

#tableau{
    margin-left: auto;
    margin-right: auto; 
    margin-top: 3%;
    margin-bottom: 3%;
    border-collapse: separate;
    border-spacing: 0px 10px;
    background-color: rgba(109, 130, 175, 0.5);
    padding: 3%;
    border-radius:  30px;
}

#entete{
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
}

.colonnedroite
{   
    
    padding: 3%;
    margin: 3%;
    width: 40%;
    text-align: left;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

}
.colonnegauche
{   
    padding: 3%;
    width: 40%;
    text-align: right;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.ligne{
  font-size: 40px;
  background:#e6e6e68f;
  border-radius:50px;
  font-size: 10px;

 
}
.infos {
 
    font-size: 30px;
    font-weight:bold;
    color: black;
    font-family: 'Montserrat',sans-serif;   
}

.titre{
    font-size: 30px;
}

/*----------TABLECOMPTE-END----------*/

/*----------CONTACT----------*/
#center{
    margin: auto;
    font-size: large;
}

#logotwitter{
        width: 50px;
        cursor: pointer;
        
}

#logofacebook{
    width: 45px;
    cursor: pointer;
    
}

#logoinsta{
    width:40px;
    cursor: pointer;
    
}

.align1{
    text-align: center;
    background-color: rgb(185, 185, 185);
}

#align2{
    
    text-align: center;
}

#img{
    float:inline-end
}


/*----------CONTACT-END----------*/

/*----------PRESENTATION----------*/

#copyright{
    display: flex;
    justify-content: left;
    border-top: #fff solid 1px;
    padding: 10px;
    
}

#titre1
{ font-size: 25px;

}


.Quisommesnous{
    padding: 5% 5% 5% 5%;
    text-align: left;
    margin-left: 2%;
    font-size: 150%;
}

.Quelqueschiffres{
    padding: 5% 5% 5% 5%;
    text-align: right;
    margin-right: 0%;
    font-size: 150%;
    background: rgba(223, 223, 223, 0.842);
    padding: 5% 5% 5% 5%;
}

.Notreobjectif
{
    padding: 5% 5% 5% 5%;
    text-align: left;
    margin-left: 2%;
    font-size: 150%;
}



.pollution{
    
    width: 10%;
    margin-top: 100px;
    margin-right: 20%;
    float: right;
}

.station{
    
    width: 10%;
    margin-top: -300px;
    margin-left: 15%;
    float: left;
}

.Clio2-Phase2-80cv-Diesel-sahquelplaisir-a-conduire
{
    width: 10%;
    margin-top: -150px;
    margin-right: 20%;
    float: right;
}

.oui {  
    font-size: 0;
    border : 3px ;  
    border-bottom: solid  rgb(1, 99, 177);
    border-radius: 8%;
    padding: 6%;  
         

}

/*----------PRESENTATION-END----------*/



#statButtonTable
{
    margin-left: auto;
    margin-right: auto;
}

.statButton a {
    text-align: center;
    padding: 5px 20px;
    text-decoration:none ;
    color : black;
    border: 1px solid black;
    
    font-size: 18px;
    transition: 0.3s;
    box-shadow: 0 7px rgb(182, 214, 243);
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    line-height: 2;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-left: 5%;
    margin-right: 5%;

}

.statButton a:hover{
    background-color: #212529;
    color: white;
}

.statButton a:active{
    background-color: rgb(1, 99, 177);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}



/*---------RESERVATION--------------*/

/*--------calendrier-------*/

body{  background:#EEEEEE;  letter-spacing:1px;  font-family:Helvetica; }
#nextyear a {  text-decoration: none; color: black; font-size: 30px;    }
.year{  color:#2c4e70;;  font-size:85px; margin-left: 2%; }
.relative{  position:relative;}
.months{}
.month{  margin-top:12px; margin-left: 2%; margin-bottom: 5%;   }   
.months ul{  list-style:none;  margin:0px;  padding:0px;}
.months ul li a{  float:left;  margin:-1px;  padding:0px 15px 0px 0px;  color:#888888;  text-decoration:none;  font-size:35px;  font-weight:bold;  text-transform:uppercase;}
.months ul li a:hover, .months ul li a.active{  color:#2c4e70;}
table{  border-collapse:collapse; }   
table td{  border:1px solid #A3A3A3;  width:100px;  height:100px;}
table td.today{  border:2px solid #2c4e70;;  width:80px;  height:80px;}
table td.padding{  border:none;}
table td:hover{  background-color:rgba(109, 130, 175, 0.5);   cursor:pointer;}
table th{  font-weight:normal;  color:#A8A8A8;}
table td .day{  position:absolute;  color:#8C8C8C;  bottom:-40px;  right:5px;  font-weight:bold;  font-size:24.3pt;}
table td .events{  position:relative;  width:79px;  height:0px;  margin:-39px 0px 0px;  padding:0px;}
table td .events li{  width:10px;  height:10px;  float:left;  background:#000;  /*+border-radius:10px;*/  -moz-border-radius:10px;  -webkit-border-radius:10px;  -khtml-border-radius:10px;  border-radius:10px 10px 10px 10px;  margin-left:6px;  overflow:hidden;  text-indent:-3000px;}
table td:hover .events{  position:absolute;  left:40%;  top:50%;  width:442px;  list-style:none;  margin:0px;  padding:11px 0px 0px;}
table td:hover .events li{  height:40px;  line-height:40px;  font-weight:bold;  border-bottom:1px solid #D6D6D6;  padding-left:41px;  text-indent:0;  background:none;  width:400px;}
table td:hover .events li:first-child{  border-top:1px solid #D6D6D6;}
table td .daytitle{  display:none;}
table td:hover .daytitle{  position: absolute; left:40%;  top: 45%;  width:442px;  list-style:none;  margin:auto; margin-left: 2%; padding:0px;  color:black;  font-size:30px;  display:block;  font-weight:bold;}

.clear{  clear:both;}



/*--------calendrier-------*/

/*--------Formulaire--------*/


.divinput{
    margin: 30px;

  }
    
  #divform{
    margin: auto;
    margin-top: 2%;
    padding: 2%;
    background-color:rgba(12, 12, 12, 0.2);
    border-radius: 20px;
    width: fit-content;
    position: absolute;
    left:65%; 
    top: 25%;

  }
  
  .textinput{
    border-radius: 30px;
    height: 40px;
    width: 300px;
    text-indent: 10px;
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
  }

  #submit{
    margin-right: 24%;
  }

  .button{
    display: inline-block;
    background-color: rgb(11, 171, 211);
    border-radius: 10px;
    border: 4px double rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 22px;
    font-weight: 600px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;


  }
  
  .button:hover{
    background-color:rgb(145, 182, 255);
  }
  
  .button:active{
    background-color: darkgoldenrod;
  }

  /*--------Formulaire--------*/

/*--------Lien vers l'historique------*/
#lien{
    position: absolute;
    text-decoration: none;
    color: rgb(11, 171, 211);
    font-size: 25px;
    text-decoration-line: overline underline;
    text-decoration-color: rgb(11, 171, 211);
    text-decoration-style: dashed;
    text-transform: uppercase;
    left:72%; 
    top: 80%;

  
}

/*---------Historique--------*/
#coul{
    background-color: #212529;   
    color:  rgb(11, 171, 211);
}



#listres{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    border-collapse: collapse;
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    
}

#listres td {
    font-size: 20px;
}

#listres > td,th,tr{
   
    padding: 20px;
    height: 5px;

}   


.filtre
{
    position:absolute;
    width: 15%;
    height:min-content;
    background: rgba(109, 130, 175, 0.5);
    border-radius:8px;
    padding:1% 2%;
    top: 22%;
    right: 4%;
    box-sizing:border-box;

    
}


#divforme{
    border : 2px solid rgb(1, 99, 177);
    border-radius: 10px / 5px;
    width: 100%;
    padding: 2%;
    font-size: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
  
    
  }



  
 #divforme option {
    background-color: #f9f9f9;
    color: #333;
    font-size: 20px;

  }




/*---------RESERVATION--------*/
